@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">This is a sample provider-hosted app which demonstrates using App Parts. 
    You must add app parts to pages in the host web to run this demonstration.</p>
    <p>Click the <b>back to host web link</b> and add one of the app parts to either a web part page or a wiki page.</p>
</div>
